/*HEADER*/
header{
  background-color: white;
  height:70px;
  width: 100%;
  @media only screen and (min-width : 1024px){
    height: 80px;
  }
  .logo a img{
    padding: 10px 5%;
    width: 100px;
    @media only screen and (min-width : 1024px){
      float: left;
      width: 140px;
      padding:15px 5%;
    }
  }
}
  /* 1.HAMBURGUER INTERACTION*/
.hamburger *{
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  box-sizing:border-box;
}

.hamburger{
  float:right;
  margin: 0;
  padding: 20px;
  height:33px;
  width:50px;
  @media only screen and (min-width : 1024px){
    display: none;
  }
  input[type=checkbox]{
    display:none;
  }
  label{
  cursor:pointer;
  z-index:99;
  height:33px;
  width:50px;
  }
  .line{
  position:absolute;
  overflow: hidden;
  height:5px;
  width:50px;
  }
  .diagonal.part-1{
    position:relative;
    margin-top:3px;
    float:left;
    background-color:$c-burger;
  }
  .horizontal{
    position:relative;
    float:left;
    margin-top:6px;
    background-color:$c-burger;
  }
   .diagonal.part-2{
    position:relative;
    float:left;
    margin-top:6px;
    background-color:$c-burger;
  }

  /*2. HAMBURGUER CUANDO EL MENU ESTÁ DESPLEGADO*/
   input[type=checkbox]:checked ~ .lines > .horizontal{
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }

   input[type=checkbox]:checked ~ .lines > .diagonal.part-1{
    transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    margin-top:10px;
  }

   input[type=checkbox]:checked ~ .lines > .diagonal.part-2{
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    margin-top:-16px;
  }
}

/*MENU DE NAVEGACIÓN*/
.visible{
max-height: 100vh;
height: 100vh;
display: block;
z-index:10000;
}

/*DECLARACIÓN GENÉRICA PARA MOBIL I TABLET*/
@media only screen and (max-width : 1024px){
  header{
    position: fixed;
    top:0;
    z-index: 100;
    overflow: visible;
  }
  nav{
    overflow: visible;
      ul{
        max-height: 0;
        height: 0;
        overflow: hidden;
        background-color: $c-header;
        color: lighten(black, 10%);
        transition: max-height 1s ease-in, height 1s ease-in;
        width:100%;
        top:0;
        position: absolute;
        margin-top:66px;
        z-index:100;
        text-transform: uppercase;

          li{
            display: flex;
            margin: 0px 5%;
            flex-direction: column;
            border-bottom: 1px solid rgb(199, 207, 210);

              a{
                font-size: "Open sans" sans-serif;
                font-size: 1.25rem;
                padding: 5%;
                text-align: center;
                }
              .selected{
                font-weight: bold;
              }

            li:first-child{
                margin-top: 5%;
              }
            }
          }
              // ESPECIFICACIÓN PARA TABLET
              @media only screen and (min-width : 768px){
                ul.nav-menu > li{
                  margin:0% 15% !important;
                }
                a{
                  font-size: 1.125rem;
                }
        }/*UL-END*/
    }/*NAV-END*/
    .container{
      margin-top: 70px;
    }
}
            // MENÚ NAVEGACIÓN - DESKTOP
@media only screen and (min-width : 1024px){
  nav {
    margin-top: 15px;
    width: 40%;
    margin-right: 2%;
    height: 10px;
    float: right;
    color: $c-oscuro;
        ul{
            height: 70px;
            margin-right: 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
              li {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                text-align: center;
                a{
                padding: 0% 10%;
                width: 100%;
                box-sizing: border-box;
                font-family: "Open Sans", sans-serif;
                font-weight: lighter;
                font-size: 1.125rem;
                }
                a:active{
                  color: $c-lila;
                }
                a:hover{
                  color: lighten($c-lila, 30%);
                }
                a.selected{
                  font-weight: 800;
                  color: lighten($c-lila, 10%);
                }
              }
            }/*UL-END*/
          ul.nav-menu > li.doble{
              flex-grow: 2;
            }
    }/*NAV-END*/
}
