@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display:400,700');

      /*
                INDEX
          - VARIABLES
          - MIXINS
          - DECLARACIONES GENERALES
          - HEADER
            1. BURGER INTERACTION
            2. BURGER MENU DESPLEGADO
          - MENU NAVEGACIÓN
          - MENU LISTA PARA MOBIL Y TABLET
          - MENU LISTA PARA DESKTOP
          -TITULO PRINCIPAL PÁGINAS BANNER
          - PAGINA PRODUCTOS

      */

/*VARIABLES*/
/*COLOR*/
$c-header: white;
$c-burger: #CBC6B0;
$c-oscuro: #36252D;
$c-lila: #552541;
$c-granate:#A44153;
$c-beige:#CBC6B0;
$c-verde:#88A7A2;
/*MIXINS*/
@mixin center{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*DECLARACIONES GENERALES*/
*{
  margin: 0;
  padding: 0;
}
body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4{
  font-family: 'Playfair Display', serif;
}
h1{
  color: $c-lila;
  position: absolute;
  margin: 0;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.25rem;
  @media only screen and (min-width: 780px) and (max-width: 1024px){
    font-size: 4rem;
    line-height: 4rem;
  }
  @media only screen and (min-width: 1024px){
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}
h2{
 font-size: 1.5rem;
 line-height: 3rem;
 @media only screen and (min-width: 780px) {
   font-size: 1.9rem;
   line-height: 4rem;
 }
}
h3{
 font-size: 1.25rem;
 line-height: 1.75rem;
 @media only screen and (min-width: 1024px){
   font-size: 1.75rem;
   line-height: 3rem;
 }
}

p{
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.5rem;
  @media only screen and (min-width: 780px){
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
section{
  padding: 1% 5%;
}
/*HEADER*/
header{
  background-color: white;
  height:70px;
  width: 100%;
    .logo a img{
    padding: 10px 5%;
    width: 110px;
    @media only screen and (min-width : 1024px){
      float: left;
      width: 159px;
      padding:15px 5%;

    }
  }
}
  /* 1.HAMBURGUER INTERACTION*/
  .hamburger * {
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    box-sizing:border-box;
  }

.hamburger {
    float:right;
    margin: 0;
    padding: 20px;
    height:33px;
    width:50px;

      @media only screen and (min-width : 1024px){
      display: none;
      }

   input[type=checkbox] {
    display:none;
    }


   label {
    cursor:pointer;
    z-index:99;
    height:33px;
    width:50px;
  }

   .line {
    position:absolute;
    overflow: hidden;
    height:5px;
    width:50px;
  }

  .diagonal.part-1 {
    position:relative;
    margin-top:3px;
    float:left;
    background-color:$c-burger;
  }

  .horizontal {
    position:relative;
    float:left;
    margin-top:6px;
    background-color:$c-burger;
  }

   .diagonal.part-2 {
    position:relative;
    float:left;
    margin-top:6px;
    background-color:$c-burger;
  }

  /*2. HAMBURGUER CUANDO EL MENU ESTÁ DESPLEGADO*/
   input[type=checkbox]:checked ~ .lines > .horizontal {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }

   input[type=checkbox]:checked ~ .lines > .diagonal.part-1 {
    transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    margin-top:10px;
  }

   input[type=checkbox]:checked ~ .lines > .diagonal.part-2 {
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    margin-top:-16px;
  }
}

/*MENU DE NAVEGACIÓN*/
.visible{
max-height: 100%;
height: 100%;

}

/*DECLARACIÓN GENÉRICA PARA MOBIL I TABLET*/
@media only screen and (max-width : 1024px){
  header{
    position: fixed;
    top:0;
    z-index: 100;
    overflow: visible;
  }
  nav{
    overflow: visible;
      ul{
        max-height: 0;
        height: 0;
        overflow: hidden;
        background-color: $c-header;
        color: black;
        transition: max-height 1s linear, height 1s linear;
        width:100%;
        top:0;
        position: absolute;
        margin-top:66px;
        z-index:100;

          li{
            display: flex;
            margin: 0px 5%;
            flex-direction: column;
            border-bottom: 1px solid rgb(199, 207, 210);

              a{
                font-size: "Open sans" sans-serif;
                font-size: 1.25rem;
                padding: 5%;
                text-align: center;
                }

            li:first-child{
                margin-top: 5%;
              }
            }
          }
              // ESPECIFICACIÓN PARA TABLET
              @media only screen and (min-width : 768px){
                ul.nav-menu > li{
                  margin:0% 15% !important;
                }
                a{
                  font-size: 1.125rem;
                }
        }/*UL-END*/
    }/*NAV-END*/
    .container{
      margin-top: 70px;
    }
}
            // MENÚ NAVEGACIÓN - DESKTOP
@media only screen and (min-width : 1024px){
  nav {
    margin-top: 15px;
    width: 40%;
    margin-right: 2%;
    height: 10px;
    float: right;
    color: $c-oscuro;
        ul{
            height: 70px;
            margin-right: 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
              li {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                text-align: center;
                a{
                padding: 0% 10%;
                width: 100%;
                box-sizing: border-box;
                font-family: "Open Sans", sans-serif;
                font-weight: lighter;
                font-size: 1.125rem;
                }
                a:active{
                  color: $c-lila;
                }
                a:hover{
                  color: lighten($c-lila, 30%);
                }
                a.selected{
                  font-weight: 800;
                  color: lighten($c-lila, 10%);
                }
              }
            }/*UL-END*/
          ul.nav-menu > li.doble{
              flex-grow: 2;
            }
    }/*NAV-END*/
}
/*TITULO PRINCIPAL PAGINAS BANNER*/
.banner{
  overflow: hidden;
  position: relative;
  z-index: 0;
  @include center;
  width: 100%;
  height:400px;
  picture{
    width: 70%;
    img,source{
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}
.frame{
  overflow: hidden;
  height: 70%;
  @media only screen and (min-width: 780px){
    height: 20vh;
  }

}

/*PAGINA PRODUCTOS*/
.vinos{
  h3{
    line-height: 2rem;
    margin-bottom: 1 rem;
  }
  h2{
    text-align: center;
  }
  ul{
    padding: 0% 0% 5%;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox; /*IE 10*/
    justify-content: space-around;
      li{
        position: relative;
      padding: 5vh;
      margin: 2% 0%;
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      width: 90vw;
      height: 380px;
      text-align: center;
      @media only screen and (min-width : 780px){
        max-width: 35vw;
      }
      @media only screen and (min-width : 1024px){
        max-width: 22vw;
      }
      img{
        height: 80%;
      }
      .premio{
        position: absolute;
        right: 40px;
        display: block;
        width: 76px;
        height: 76px;
        background-image: url(../img/productos/premio.png);
        color: $c-lila;
        font-weight: bold;
        font-size: 1.7rem;
        line-height: 2.7rem;
        font-family: "Playfair Display", serif;
      }
    }
  }
}
.precio{
  font-family: 'Playfair Display', serif;
  color: $c-lila;
  font-weight: 700;
  font-size:1.25rem;
  display: inline-block;
}
.mas{
  font-family: 'Playfair Display', serif;
  display: inline-block;
  font-style: italic;
  color: grey;
  text-decoration: underline;
}
.historia{
  h2{
    padding: 5% 2%;
    text-align: center;
  }
@media only screen and (min-width: 780px){
    div.principal{
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 50%;
    .box-left{
    h2{
      text-align: left;
    }
    position: absolute;
    z-index: 1;
    width: 60%;
    p{
      padding:5% 5% 5% 0;
      background-color: white;
      z-index: 1;
    }
    }
    img{
      width: 50%;
      z-index: 0;
      position: absolute;
      right:0;
    }
  }
}
@media only screen and (min-width: 1024px){
div.principal{
  margin-bottom: 35%;
}
}

  .leyenda{
    margin: 0 20%;
    width: 65vw;
    height: 25vh;
    @media only screen and (min-width : 720px) and (max-width: 1024px){
      margin: 0 10%;
    }
    @media only screen and (min-width: 1024px){
      margin: 0 20%;
    }
    ul{
    display: flex;
    flex-wrap: wrap;
    li{
      display: flex;
      align-content: center;
      padding: 5% 2%;
      width: 100%;
      line-height: 60px;
      box-sizing: border-box;

      }
      @media only screen and (min-width : 720px){

        li{
          width: 35%;
        }
        .wide{
          width: 65%;
        }
      }
      @media only screen and (min-width: 1024px){
      li, li.wide{
        width: 50%;
      }
      }
      span{
        display: inline-block;
        margin: 0 5%;
        padding:30px;
        border-radius: 50%;
      }
  }
  }
  .cronologia{
    margin-top:50%;
    @media only screen and (min-width : 780px){
      margin-top:10%;
    }

  ul{
    margin-left: 15%;
    width: 90vw;
    @media only screen and (min-width : 420px){
      width: 80vw;
    }
    @media only screen and (min-width : 1024px){
      width: 60vw;
      margin-left: 20%;
    }

  li{
    overflow: visible;
    @media only screen and (max-width : 520px){
  .right, .right2{
  float: right;
  margin: 10%;
  }
  .right2{
    margin:-50px 10%;
  }
}
    .right, .right2{
      border-radius: 100%;
      box-sizing: border-box;
      display: inline-block;
      padding: 30px;
      position: relative;
         }

    @media only screen and (min-width : 520px){
      .right, .right2{
      margin: 5px;
      right:0;
      bottom:-13px;
}
}
    .left{
      position: relative;
      left:0;
      padding-right: 10%;
      box-sizing: border-box;
      display: inline-block;
      text-align: right;
      width: 60%;
    }
    .year{
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 400%;
      color: #C6A900;
      @media only screen and (min-width : 780px){
      font-weight: 700%;
  }
  }
}
  li:not(:last-child)::after{
    content: "";
    display: block;
    background-color: grey;
    position: relative;
    margin-top: 5%;
    top:100%;
    left: 50%;
    height: 100px;
    width: 2px;
  }
}
}
}
/*BODEGA*/
.bodega{
  div{margin-bottom:10%;
  }
  ul {
    padding-left: 5%;

  li{
    font-family: "Open Sans", sans-serif;
    list-style-type:disc;
    color: grey;
    font-style: italic;
  }
}
p{
  margin-bottom: 2%;
}
.precio{
  position: relative;
  left: 50%;
  padding: 5%;
}
  div.info{
    p{
      margin: 2% auto;
      width: 75%;
      font-family: "Playfair Display", serif;
      font-weight: 500;
      line-height: 2rem;
    }
  }
  .encabezado3{
    display: block;
    position: relative;
    margin-bottom: 5%;
    width: 100%;
    max-height: 15%;
    overflow: hidden;
    img{
      width: 110%;
      position: absolute;
    }
    h3{
      width: 100%;
      position: relative;
      padding: 60px 0px 5px 10px;
      color: white;
      font-size: 5vw;
      line-height: 2rem;
    }
  }
  .visita{
    border-bottom:1px solid $c-lila;
  }
  .secondrow{
    .visita{
      padding-bottom: 5%;
    }
  }
  .centrado{
    text-align: center;
    display: block;
    width: 90%;
    margin: 5% auto;
    h4{
      font-size: 3rem;
    }
    p{
      font-weight: bold;
    }
    .espaciador{
      margin-top: 10%;
    }
  }
  @media only screen and (min-width: 780px){
    div{
      margin-bottom:5%;
    }
    div.principal{
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 55%;
      .box-left{
      position: absolute;
      z-index: 1;
      width: 60%;
      p{
        padding:5% 5% 5% 0;
        background-color: white;
        z-index: 1;
      }
      }
      img{
        width: 50%;
        z-index: 0;
        position: absolute;
        right:0;
      }
    }
    .visitas{
      text-align: center;
      display: block;
      margin: 5% auto 2%;

      p::before{
        content:"";
        display: inline-block;
        position: absolute;
        width: 350px;
        margin-left: -8%;
        height: 1px;
        background-color: grey;
      }
      p{
      line-height: 2.5rem;
        font-size: bold;
      }
    }
    .firstrow{
      display: flex;
      justify-content: space-around;
      .visita{
        width: 40%;

        .encabezado3{
          width: 100%;
          min-height: 30%;
          max-height: 30%;
          img{
            width: 110%;
          }
          h3{
            font-size: 2rem;
          }
        }
      }
    }
      .secondrow{
        display: flex;
        justify-content: space-between;
        .visita{
          width: 40%;
          margin:2%;
          .encabezado3{
            width: 100%;
            min-height: 30%;
            max-height: 30%;
            margin-bottom: 0;
            h3{
              padding-top: 30px;
              font-size: 1.7rem;
            }
          }
          p{
            padding: 5% 15% 5% 5%;
          }
        }
    }
    .centrado{
      line-height: 1.7rem;
      h4{
        font-size: 2rem;
      }
      p{
        font-weight: 500;

      }
      .espaciador{
        margin-top: 5%;
      }
    }
  }
  @media only screen and (min-width: 1020px){
    div.principal{
      margin-bottom: 40%;
  }
  .visitas{
    p::before{
      margin-left: -5%;
    }
  }
}
}

/*CONTACTO*/
.contacto{
  h2{
    text-align: center;
    color:lighten($c-lila, 10%);
    display: block;
    padding: 0 2% 5%;
    background-color: white;
    z-index: 40;
  }
  h2:before,h2:after{
    content:"";
    display: inline-block;
    position: relative;
    width: 20vw;
    margin: -0.2em 1em 0;
    height: 1px;
    background-color: lighten($c-lila, 10%);
  }
  .wrapper{
    padding: 2%;

  .box{
    padding: 2% 10%;
    .box1{
      display: block;
      position: absolute;
      width: 30%;
      left: 20%;
    }
    img{
    width: 50%;
    position: relative;
    left: 50%;
    display: block;
    border: 1px solid black;
    height: 300px;
    }
  }

  .location::before,.telf::before, .email::before {
    content: "";
    display: block;
    width: 31px;
    height: 24px;
    position: absolute;
    left:-15%;
  }
  .location::before{
    width: 24px;
    height: 30px;
    background-image: url("../img/contacto/boton_ubicacion.jpg");
  }
  .telf::before{
    margin-top: 2%;
    background-image: url("../img/contacto/boton_telefono.png");
    width: 30px;
    height: 30px;
  }
  .email::before{
    background-image: url("../img/contacto/boton_mail.png");
  }
}
input, textarea{
  display: block;
  margin:1% auto;
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  width: 30%;
  font-weight: 300;
}

  @media only screen and (min-width: 780px){
    h2,h3{
      line-height: 2rem;
    }
}
}
/*FOOTER*/
footer{
  position: relative;
  text-align: center;
  background-color: darken($c-lila, 10%);
  height: 65vh;
  @media only screen and (min-width: 1024px){
  height: 30vh;
  }
  width: 90%;
  color: white;
  padding: 5%;
  p{
  font-size: 1rem;
  line-height: 2rem;
}
  img{
    position: absolute;
    bottom:5%;
    right: 5%;
    width: 90%;
    @media only screen and (min-width: 780px){
      bottom:10%;
    }
}
.row1, .row2{
  width: 90%;
  padding: 5%;
}
@media only screen and (min-width: 1024px){
.row1{
  display: inline-block;
  padding: 5% 0%;
  text-align: left;
  width: 20%;
  display: block;
  position: absolute;
  left: 5%;
  top: 5%;
}
.row2{
  display: inline-block;
  padding: 5% 0%;
  text-align: right;
  width: 30%;
  display: block;
  position: absolute;
  left: 30%;
  top: 15%;
  .cont{
    text-align: right;
  }
}
}
.row2{
  p{
    color: #8E7785;
    font-weight: bold;
  }
  .telf{
    font-size: 3rem;
    font-weight: bold;
    font-family: "Playfair Display", sans-serif;
  }
  .cont{

  }
}
.mail, .conpyright{
  font-size: 1rem;
}
@media only screen and (min-width: 780px){
  .mail{
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
  .copyright{
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
}

}

a.facebook, a.pinterest, a.insta{
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("../img/footer/sprites.png");
}
a.facebook{
  &:hover{
    background-position: 0% 100%;
  }
}
a.pinterest{
    background-position: 50% 0%;
  &:hover{
    background-position: 50% 100%;
  }
}
a.insta{
    background-position: 100% 0%;
  &:hover{
    background-position: 100% 100%;
  }
}
