@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display:400,700');

      /*
                INDEX
          - VARIABLES
          - MIXINS
          - DECLARACIONES GENERALES
          - HEADER
            1. BURGER INTERACTION
            2. BURGER MENU DESPLEGADO
          - MENU NAVEGACIÓN
          - MENU LISTA PARA MOBIL Y TABLET
          - MENU LISTA PARA DESKTOP
          -TITULO PRINCIPAL PÁGINAS BANNER
          - PAGINA PRODUCTOS

      */

/*VARIABLES*/
/*COLOR*/
$c-header: white;
$c-burger: #CBC6B0;
$c-oscuro: #36252D;
$c-lila: #552541;
$c-granate:#A44153;
$c-beige:#CBC6B0;
$c-verde:#88A7A2;
/*MIXINS*/
@mixin center{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*DECLARACIONES GENERALES*/
*{
  margin: 0;
  padding: 0;
}
body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4{
  font-family: 'Playfair Display', serif;
}
img{
  filter: grayscale(100%);
  transition: all 1s easein;
}
img:hover{
  filter: grayscale(0%);
}
h1{
  @media only screen and (max-width: 780px){
    font-size: 2.625rem;
    margin-top:-2%;
  }
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px 4px black;
  position: absolute;
  text-align: center;
}
h2{

 font-size: 2rem;
}

p{
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.5rem;
}
section{
  padding: 5%;

  p{
    margin-top:1rem;
    @media only screen and (max-width: 780px){
      font-weight: lighter;
    }
  }
  h2{
    font-size: 2.625;
  }
}
/*HEADER*/
header{
  background-color: white;
  height:70px;
  width: 100%;
    >span.logo>a>img{
    padding:10px;
    width: 100px;
    @media only screen and (min-width : 1024px){
      float: left;
      padding:15px 5%;
    }
  }
}
  /* 1.HAMBURGUER INTERACTION*/
  .hamburger * {
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    box-sizing:border-box;
  }

.hamburger {
    float:right;
    margin: 0;
    padding: 20px;
    height:33px;
    width:50px;

      @media only screen and (min-width : 1024px){
      display: none;
      }

   input[type=checkbox] {
    display:none;
    }


   label {
    cursor:pointer;
    z-index:99;
    height:33px;
    width:50px;
  }

   .line {
    position:absolute;
    overflow: hidden;
    height:5px;
    width:50px;
  }

  .diagonal.part-1 {
    position:relative;
    margin-top:3px;
    float:left;
    background-color:$c-burger;
  }

  .horizontal {
    position:relative;
    float:left;
    margin-top:6px;
    background-color:$c-burger;
  }

   .diagonal.part-2 {
    position:relative;
    float:left;
    margin-top:6px;
    background-color:$c-burger;
  }

  /*2. HAMBURGUER CUANDO EL MENU ESTÁ DESPLEGADO*/
   input[type=checkbox]:checked ~ .lines > .horizontal {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }

   input[type=checkbox]:checked ~ .lines > .diagonal.part-1 {
    transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    margin-top:10px;
  }

   input[type=checkbox]:checked ~ .lines > .diagonal.part-2 {
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    margin-top:-16px;
  }
}

/*MENU DE NAVEGACIÓN*/
.visible{
max-height: 1000%;
height: 1000%;

}

/*DECLARACIÓN GENÉRICA PARA MOBIL I TABLET*/
@media only screen and (max-width : 1024px){
  header{
    position: fixed;
    top:0;
    z-index: 100;
    overflow: visible;
  }
  nav{
    overflow: visible;
      ul{
        max-height: 0;
        height: 0;
        overflow: hidden;
        background-color: $c-header;
        color: black;
        transition: max-height 1s linear, height 1s linear;
        width:100%;
        top:0;
        position: absolute;
        margin-top:66px;
        z-index:100;

          li{
            display: flex;
            margin: 0px 5%;
            flex-direction: column;
            border-bottom: 1px solid rgb(199, 207, 210);

              a{
                font-family: 'Montserrat', sans-serif;
                font-size: 1.25rem;
                padding: 5%;
                text-align: center;
                }

            li:first-child{
                margin-top: 5%;
              }
            }
          }
              // ESPECIFICACIÓN PARA TABLET
              @media only screen and (min-width : 768px){
                ul.nav-menu > li{
                  margin:0% 15% !important;
                }
                a{
                  font-size: 1.125rem;
                }
        }/*UL-END*/
    }/*NAV-END*/
    .container{
      margin-top: 70px;
    }
}
            // MENÚ NAVEGACIÓN - DESKTOP
@media only screen and (min-width : 1024px){
  nav {
    width: 80%;
    height: 10px;
    float: right;
    color: $c-oscuro;
        ul{
            height: 70px;
            display: flex;
            align-items: center;

              li {
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                text-align: center;
                vertical-align: middle;

                a{
                box-sizing: border-box;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.125rem;
                }
              }
            }/*UL-END*/
          ul.nav-menu > li.doble{
              flex-grow: 2;
            }
    }/*NAV-END*/
}
/*TITULO PRINCIPAL PAGINAS BANNER*/
.banner{
  overflow: hidden;
  position: relative;
  top:-5px;
  z-index: 0;
  @include center;
  width: 100%;
  height:auto;
  img{
    position: relative;
    width: 100%;
  }
}

/*PAGINA PRODUCTOS*/
.vinos{
  h3{
    text-align: center;
  }
  ul{
    padding: 5% 0%;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox; /*IE 10*/
    justify-content: space-around;
      li{
      padding: 5vh;
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      width: 90vw;
      text-align: center;
      @media only screen and (min-width : 780px){
        max-width: 35vw;
      }
      @media only screen and (min-width : 1024px){
        max-width: 22vw;
      }
      img{
        width: 100%;
      }
    }
  }
}
.historia{
  h2{
    padding: 5% 2%;
    text-align: center;
  }
  .leyenda{
    margin: 0 20%;
    width: 65vw;
    height: 25vh;
    @media only screen and (min-width : 720px) and (max-width: 1024px){
      margin: 0 10%;
    }
    @media only screen and (min-width: 1024px){
      margin: 0 20%;
    }
    ul{
    display: flex;
    flex-wrap: wrap;
    li{
      display: flex;
      align-content: center;
      padding: 5% 2%;
      width: 100%;
      line-height: 60px;
      box-sizing: border-box;

      }
      @media only screen and (min-width : 720px){
        li{
          width: 35%;
        }
        .wide{
          width: 65%;
        }
      }
      @media only screen and (min-width: 1024px){
      li, li.wide{
        width: 50%;
      }
      }
      span{
        display: inline-block;
        margin: 0 5%;
        padding:30px;
        border-radius: 50%;
      }
  }
  }
  .cronologia{
    margin-top:50%;
    @media only screen and (min-width : 780px){
      margin-top:10%;
    }

  ul{
    margin-left: 15%;
    width: 90vw;
    @media only screen and (min-width : 420px){
      width: 80vw;
    }
    @media only screen and (min-width : 1024px){
      width: 60vw;
      margin-left: 20%;
    }

  li{
    overflow: visible;
    @media only screen and (max-width : 520px){
  .right, .right2{
  float: right;
  margin: 10%;
  }
  .right2{
    margin:-50px 10%;
  }
}
    .right, .right2{
      border-radius: 100%;
      box-sizing: border-box;
      display: inline-block;
      padding: 30px;
      position: relative;
         }

    @media only screen and (min-width : 520px){
      .right, .right2{
      margin: 5px;
      right:0;
      bottom:-13px;
}
}
    .left{
      position: relative;
      left:0;
      padding-right: 10%;
      box-sizing: border-box;
      display: inline-block;
      text-align: right;
      width: 60%;
    }
    .year{
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 400%;
      color: #C6A900;
      @media only screen and (min-width : 780px){
      font-weight: 700%;
  }
  }
}
  li:not(:last-child)::after{
    content: "";
    display: block;
    background-color: grey;
    position: relative;
    margin-top: 5%;
    top:100%;
    left: 50%;
    height: 100px;
    width: 2px;
  }
}
}
}
.innovacion{
  background-color: lighten($c-granate, 20%);
}
.celebracion{
  background-color: $c-lila;
}
.reconocimiento{
  background-color: $c-verde;
}
.inauguracion{
  background-color: $c-beige;
}

/*FOOTER*/
footer{
  background-color: $c-oscuro;
  height: 20vh;
  color: white;
  @media only screen and (max-width : 780px){
    position:relative;
    height: 40vh;
    text-align: center;
    padding: 10%;
      .row2{
        position: relative;
        top:2vh;
      }
      .row1{
        position: relative;
        bottom:-30vh;
      }
      .row3{
        @include center;
        position: relative;
        height: 100px;
        top:2vh;
        a{
          display: inline-block;
          width: 45px;
          height: 45px;
          padding: 2%;
          box-sizing: border-box;
        }
      }
  }
  @media only screen and (min-width : 780px){
    display: flex;
    justify-content: space-around;
    .footer{
      display: flex;
      align-items: flex-end;
      padding: 2%;
      text-align: center;
    }
  }
}
a.facebook, a.pinterest{
  width: 45px;
  height: 45px;
  background-image: url("../img/sprites hover.png");
}
a.facebook{
  &:hover{
    background-position: 0% 100%;
  }

}
a.pinterest{
    background-position: 100% 0%;
  &:hover{
    background-position: 100% 100%;
  }
}
