
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display:400,700");
      /*
                INDEX
          - VARIABLES
          - MIXINS
          - DECLARACIONES GENERALES
          - HEADER
            1. BURGER INTERACTION
            2. BURGER MENU DESPLEGADO
          - MENU NAVEGACIÓN
          - MENU LISTA PARA MOBIL Y TABLET
          - MENU LISTA PARA DESKTOP
          -TITULO PRINCIPAL PÁGINAS BANNER
          - PAGINA PRODUCTOS
          - PAGINA FICHA
          - BODEGA

      */
/*VARIABLES*/
/*COLOR*/
/*MIXINS*/
/*DECLARACIONES GENERALES*/
* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif; }

h1 {
  color: #552541;
  position: absolute;
  margin: 0;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.25rem; }
  @media only screen and (min-width: 780px) and (max-width: 1024px) {
    h1 {
      font-size: 4rem;
      line-height: 4rem; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 4.5rem;
      line-height: 4.5rem; } }

h2 {
  font-size: 1.5rem;
  line-height: 3rem; }
  @media only screen and (min-width: 780px) {
    h2 {
      font-size: 1.9rem;
      line-height: 4rem; } }

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem; }
  @media only screen and (min-width: 1024px) {
    h3 {
      font-size: 1.75rem;
      line-height: 3rem; } }

p {
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.5rem; }
  @media only screen and (min-width: 780px) {
    p {
      font-size: 1.2rem;
      line-height: 1.7rem; } }

section {
  padding: 1% 5%; }

/*HEADER*/
header {
  background-color: white;
  height: 70px;
  width: 100%; }
  @media only screen and (min-width: 1024px) {
    header {
      height: 80px; } }
  header .logo a img {
    padding: 10px 5%;
    width: 110px; }
    @media only screen and (min-width: 1024px) {
      header .logo a img {
        float: left;
        width: 140px;
        padding: 15px 5%; } }

/* 1.HAMBURGUER INTERACTION*/
.hamburger * {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  box-sizing: border-box; }

.hamburger {
  float: right;
  margin: 0;
  padding: 20px;
  height: 33px;
  width: 50px;
  /*2. HAMBURGUER CUANDO EL MENU ESTÁ DESPLEGADO*/ }
  @media only screen and (min-width: 1024px) {
    .hamburger {
      display: none; } }
  .hamburger input[type=checkbox] {
    display: none; }
  .hamburger label {
    cursor: pointer;
    z-index: 99;
    height: 33px;
    width: 50px; }
  .hamburger .line {
    position: absolute;
    overflow: hidden;
    height: 5px;
    width: 50px; }
  .hamburger .diagonal.part-1 {
    position: relative;
    margin-top: 3px;
    float: left;
    background-color: #CBC6B0; }
  .hamburger .horizontal {
    position: relative;
    float: left;
    margin-top: 6px;
    background-color: #CBC6B0; }
  .hamburger .diagonal.part-2 {
    position: relative;
    float: left;
    margin-top: 6px;
    background-color: #CBC6B0; }
  .hamburger input[type=checkbox]:checked ~ .lines > .horizontal {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0; }
  .hamburger input[type=checkbox]:checked ~ .lines > .diagonal.part-1 {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 10px; }
  .hamburger input[type=checkbox]:checked ~ .lines > .diagonal.part-2 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: -16px; }

/*MENU DE NAVEGACIÓN*/
.visible {
  max-height: 100%;
  height: 100%; }

/*DECLARACIÓN GENÉRICA PARA MOBIL I TABLET*/
@media only screen and (max-width: 1024px) {
  header {
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: visible; }

  nav {
    overflow: visible;
    /*UL-END*/ }
    nav ul {
      max-height: 0;
      height: 0;
      overflow: hidden;
      background-color: white;
      color: black;
      transition: max-height 1s linear, height 1s linear;
      width: 100%;
      top: 0;
      position: absolute;
      margin-top: 66px;
      z-index: 100; }
      nav ul li {
        display: flex;
        margin: 0px 5%;
        flex-direction: column;
        border-bottom: 1px solid #c7cfd2; }
        nav ul li a {
          font-size: "Open sans" sans-serif;
          font-size: 1.25rem;
          padding: 5%;
          text-align: center; }
        nav ul li li:first-child {
          margin-top: 5%; } }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    nav ul.nav-menu > li {
      margin: 0% 15% !important; }
    nav a {
      font-size: 1.125rem; } }

@media only screen and (max-width: 1024px) {
  /*NAV-END*/
  .container {
    margin-top: 70px; } }
@media only screen and (min-width: 1024px) {
  nav {
    margin-top: 15px;
    width: 40%;
    margin-right: 2%;
    height: 10px;
    float: right;
    color: #36252D;
    /*UL-END*/ }
    nav ul {
      height: 70px;
      margin-right: 2%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      nav ul li {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center; }
        nav ul li a {
          padding: 0% 10%;
          width: 100%;
          box-sizing: border-box;
          font-family: "Open Sans", sans-serif;
          font-weight: lighter;
          font-size: 1.125rem; }
        nav ul li a:active {
          color: #552541; }
        nav ul li a:hover {
          color: #b85b91; }
        nav ul li a.selected {
          font-weight: 800;
          color: #79345c; }
    nav ul.nav-menu > li.doble {
      flex-grow: 2; }

  /*NAV-END*/ }
/*TITULO PRINCIPAL PAGINAS BANNER*/
.banner {
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px; }
  .banner picture {
    width: 70%; }
    .banner picture img, .banner picture source {
      width: 100%;
      display: block;
      margin: 0 auto; }

.frame {
  overflow: hidden;
  height: 70%; }
  @media only screen and (min-width: 780px) {
    .frame {
      height: 20vh; } }

/*PAGINA INDEX*/
.cabecera {
  width: 98%;
  margin: 1%;
  height: 93vh; }
  .cabecera img {
    width: 98%;
    position: absolute;
    display: block; }
  .cabecera h1 {
    color: white;
    text-shadow: 1px 1px 8px black;
    position: absolute;
    display: block;
    margin: 5%;
    font-size: 300%;
    line-height: 1.5em; }
  .cabecera .boton {
    background-color: #552541;
    position: absolute;
    color: white;
    top: 35%;
    margin: 5%;
    font-size: 100%;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.5s ease-in; }
    .cabecera .boton a {
      padding: 20px 40px; }
  .cabecera .boton:hover {
    background-color: #79345c; }

.presentacion {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 5% auto;
  width: 60%; }

.vinomes {
  width: 98%;
  height: 60vh;
  margin: 2% auto; }
  .vinomes .texto {
    width: 65%;
    position: absolute;
    z-index: 0;
    background-color: #36252D;
    padding: 5% 10% 5% 5%;
    color: white;
    box-sizing: border-box;
    background-image: url("../src/img/productos/cabecera.png"); }
    .vinomes .texto h2 {
      margin-bottom: 1.3em;
      font-size: 250%; }
    .vinomes .texto p {
      font-size: 1rem;
      margin-bottom: 1em;
      line-height: 1.7em; }
    .vinomes .texto a {
      font-style: italic;
      text-decoration: underline; }
  .vinomes .imagenvinomes {
    border: 1px solid black;
    display: block;
    width: 40%;
    position: absolute;
    right: 0;
    z-index: 4;
    height: 50vh;
    margin: 3% 0; }
    .vinomes .imagenvinomes img {
      position: relative;
      height: 100%; }
    .vinomes .imagenvinomes h3 {
      position: absolute;
      right: 8%;
      top: 20%; }

.homevisitas {
  width: 98%;
  height: 70vh;
  margin: 10% auto;
  background-color: #e9e7de;
  padding: 5% 10% 5% 5%;
  box-sizing: border-box; }
  .homevisitas .texto {
    width: 45%;
    position: relative; }
    .homevisitas .texto h2 {
      margin-bottom: 1.3em;
      font-size: 150%;
      line-height: 1.7em; }
      .homevisitas .texto h2 span {
        font-size: 200%; }
    .homevisitas .texto p {
      font-size: 1rem;
      line-height: 1.7em; }
    .homevisitas .texto a {
      margin-top: 1.7rem;
      font-style: italic;
      text-decoration: underline; }
  .homevisitas img {
    position: absolute;
    left: 120%;
    top: 0%;
    margin-top: -20%;
    width: 130%; }

/*PAGINA PRODUCTOS*/
.vinos h3 {
  line-height: 2rem;
  margin-bottom: 1 rem; }
.vinos h2 {
  text-align: center; }
.vinos ul {
  padding: 0% 0% 5%;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  /*IE 10*/
  justify-content: space-around; }
  .vinos ul li {
    position: relative;
    padding: 5vh;
    margin: 2% 0%;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 90vw;
    height: 380px;
    text-align: center; }
    @media only screen and (min-width: 780px) {
      .vinos ul li {
        max-width: 35vw; } }
    @media only screen and (min-width: 1024px) {
      .vinos ul li {
        max-width: 22vw; } }
    .vinos ul li img {
      height: 80%; }
    .vinos ul li .premio {
      position: absolute;
      right: 40px;
      display: block;
      width: 76px;
      height: 76px;
      background-image: url(../img/productos/premio.png);
      color: #552541;
      font-weight: bold;
      font-size: 1.7rem;
      line-height: 2.7rem;
      font-family: "Playfair Display", serif; }

.precio {
  font-family: 'Playfair Display', serif;
  color: #552541;
  font-weight: 700;
  font-size: 1.25rem;
  display: inline-block; }

.mas {
  font-family: 'Playfair Display', serif;
  display: inline-block;
  font-style: italic;
  color: grey;
  text-decoration: underline; }

.historia h2 {
  padding: 5% 2%;
  text-align: center; }
.historia .timeline {
  display: inline-block;
  position: relative;
  width: 15%;
  left: 72%; }
  .historia .timeline li {
    padding: 0.7em 0;
    border-right: 2px solid #c4c0b9; }
  @media only screen and (min-width: 780px) {
    .historia .timeline ul {
      width: 85%;
      margin: 0 auto; }
      .historia .timeline ul li {
        border-top: 2px solid #c4c0b9; } }
.historia ul.cronologia {
  position: relative;
  display: inline-block;
  width: 60%;
  color: black; }
  .historia ul.cronologia li .info {
    text-align: center;
    width: 60%;
    background-color: #322f30; }
    .historia ul.cronologia li .info .year {
      font-family: "Playfair Display", serif; }
    .historia ul.cronologia li .info .year:after {
      content: ""; }
.historia .filosofia {
  position: relative;
  top: 100vh; }
.historia li {
  overflow: visible; }
  @media only screen and (max-width: 520px) {
    .historia li .right, .historia li .right2 {
      float: right;
      margin: 10%; }
    .historia li .right2 {
      margin: -50px 10%; } }
  .historia li .right, .historia li .right2 {
    border-radius: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 30px;
    position: relative; }

/*PAGINA FICHA*/
.contenedor {
  padding-top: 2%; }
  .contenedor .mija {
    display: block;
    padding: 2% 0% 5% 5%;
    font-family: 'Playfair Display',serif; }
    .contenedor .mija a {
      text-decoration: underline;
      font-family: 'Playfair Display', serif;
      color: #552541;
      display: inline-block;
      font-style: none; }

.botella p {
  color: #552541;
  font-family: 'Playfair Display', serif;
  font-size: 1.6em; }
.botella img {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  width: 50%;
  text-align: center;
  padding-left: 9%;
  padding-top: 5%; }

.ficha {
  padding: 5% 10%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  background-color: #e9e7de;
  width: 50%; }
  .ficha h2 {
    line-height: 1em; }
  .ficha p {
    padding-bottom: 1em;
    padding-top: 1em; }
  .ficha a {
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-style: none;
    padding-bottom: 1em; }
  .ficha .video {
    padding-top: 4%; }
  .ficha .maridaje {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 1% 2% 4% 1%; }
  .ficha .premio {
    position: absolute;
    display: inline;
    width: 76px;
    height: 76px;
    background-image: url(../img/productos/premio.png);
    color: #552541;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 3rem;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-right: 2%; }
  .ficha .reconocimientos {
    position: relative;
    display: inline-block;
    width: auto;
    margin-left: 20%;
    padding: 2% 0%; }
    .ficha .reconocimientos h4 {
      color: #552541; }

/*BODEGA*/
.bodega div {
  margin-bottom: 10%; }
.bodega ul {
  padding-left: 5%; }
  .bodega ul li {
    font-family: "Open Sans", sans-serif;
    list-style-type: disc;
    color: grey;
    font-style: italic; }
.bodega p {
  margin-bottom: 2%; }
.bodega .precio {
  position: relative;
  left: 50%;
  padding: 5%; }
.bodega div.info p {
  margin: 2% auto;
  width: 75%;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 2rem; }
.bodega .encabezado3 {
  display: block;
  position: relative;
  margin-bottom: 5%;
  width: 100%;
  max-height: 15%;
  overflow: hidden; }
  .bodega .encabezado3 img {
    width: 110%;
    position: absolute; }
  .bodega .encabezado3 h3 {
    width: 100%;
    position: relative;
    padding: 60px 0px 5px 10px;
    color: white;
    font-size: 5vw;
    line-height: 2rem; }
.bodega .visita {
  border-bottom: 1px solid #552541; }
.bodega .secondrow .visita {
  padding-bottom: 5%; }
.bodega .centrado {
  text-align: center;
  display: block;
  width: 90%;
  margin: 5% auto; }
  .bodega .centrado h4 {
    font-size: 3rem; }
  .bodega .centrado p {
    font-weight: bold; }
  .bodega .centrado .espaciador {
    margin-top: 10%; }
@media only screen and (min-width: 780px) {
  .bodega div {
    margin-bottom: 5%; }
  .bodega div.principal {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 55%; }
    .bodega div.principal .box-left {
      position: absolute;
      z-index: 1;
      width: 60%; }
      .bodega div.principal .box-left p {
        padding: 5% 5% 5% 0;
        background-color: white;
        z-index: 1; }
    .bodega div.principal img {
      width: 50%;
      z-index: 0;
      position: absolute;
      right: 0; }
  .bodega .visitas {
    text-align: center;
    display: block;
    margin: 5% auto 2%; }
    .bodega .visitas p::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 350px;
      margin-left: -8%;
      height: 1px;
      background-color: grey; }
    .bodega .visitas p {
      line-height: 2.5rem;
      font-size: bold; }
  .bodega .firstrow {
    display: flex;
    justify-content: space-around; }
    .bodega .firstrow .visita {
      width: 40%; }
      .bodega .firstrow .visita .encabezado3 {
        width: 100%;
        min-height: 30%;
        max-height: 30%; }
        .bodega .firstrow .visita .encabezado3 img {
          width: 110%; }
        .bodega .firstrow .visita .encabezado3 h3 {
          font-size: 2rem; }
  .bodega .secondrow {
    display: flex;
    justify-content: space-between; }
    .bodega .secondrow .visita {
      width: 40%;
      margin: 2%; }
      .bodega .secondrow .visita .encabezado3 {
        width: 100%;
        min-height: 30%;
        max-height: 30%;
        margin-bottom: 0; }
        .bodega .secondrow .visita .encabezado3 h3 {
          padding-top: 30px;
          font-size: 1.7rem; }
      .bodega .secondrow .visita p {
        padding: 5% 15% 5% 5%; }
  .bodega .centrado {
    line-height: 1.7rem; }
    .bodega .centrado h4 {
      font-size: 2rem; }
    .bodega .centrado p {
      font-weight: 500; }
    .bodega .centrado .espaciador {
      margin-top: 5%; } }
@media only screen and (min-width: 1020px) {
  .bodega div.principal {
    margin-bottom: 40%; }
  .bodega .visitas p::before {
    margin-left: -5%; } }

/*CONTACTO*/
.contacto h2 {
  text-align: center;
  color: #79345c;
  display: block;
  padding: 0 2% 5%;
  background-color: white;
  z-index: 40; }
.contacto h2:before, .contacto h2:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 20vw;
  margin: -0.2em 1em 0;
  height: 1px;
  background-color: #79345c; }
.contacto .wrapper {
  padding: 2%; }
  .contacto .wrapper .box {
    padding: 2% 10%; }
    .contacto .wrapper .box .box1 {
      display: block;
      position: absolute;
      width: 30%;
      left: 20%; }
    .contacto .wrapper .box img {
      width: 50%;
      position: relative;
      left: 50%;
      display: block;
      border: 1px solid black;
      height: 300px; }
  .contacto .wrapper .location::before, .contacto .wrapper .telf::before, .contacto .wrapper .email::before {
    content: "";
    display: block;
    width: 31px;
    height: 24px;
    position: absolute;
    left: -15%; }
  .contacto .wrapper .location::before {
    width: 24px;
    height: 30px;
    background-image: url("../img/contacto/boton_ubicacion.jpg"); }
  .contacto .wrapper .telf::before {
    margin-top: 2%;
    background-image: url("../img/contacto/boton_telefono.png");
    width: 30px;
    height: 30px; }
  .contacto .wrapper .email::before {
    background-image: url("../img/contacto/boton_mail.png"); }
.contacto input, .contacto textarea {
  display: block;
  margin: 1% auto;
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  width: 30%;
  font-weight: 300; }
@media only screen and (min-width: 780px) {
  .contacto h2, .contacto h3 {
    line-height: 2rem; } }

/*FOOTER*/
footer {
  position: relative;
  text-align: center;
  background-color: #311626;
  height: 65vh;
  width: 90%;
  color: white;
  padding: 5%; }
  @media only screen and (min-width: 1024px) {
    footer {
      height: 30vh; } }
  footer p {
    font-size: 1rem;
    line-height: 2rem; }
  footer img {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 90%; }
    @media only screen and (min-width: 780px) {
      footer img {
        bottom: 10%; } }
  footer .row1, footer .row2 {
    width: 90%;
    padding: 5%; }
  @media only screen and (min-width: 1024px) {
    footer .row1 {
      display: inline-block;
      padding: 5% 0%;
      text-align: left;
      width: 20%;
      display: block;
      position: absolute;
      left: 5%;
      top: 5%; }
    footer .row2 {
      display: inline-block;
      padding: 5% 0%;
      text-align: right;
      width: 30%;
      display: block;
      position: absolute;
      left: 30%;
      top: 15%; }
      footer .row2 .cont {
        text-align: right; } }
  footer .row2 p {
    color: #8E7785;
    font-weight: bold; }
  footer .row2 .telf {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Playfair Display", sans-serif; }
  footer .mail, footer .conpyright {
    font-size: 1rem; }
  @media only screen and (min-width: 780px) {
    footer .mail {
      position: absolute;
      bottom: 5%;
      right: 5%; }
    footer .copyright {
      position: absolute;
      bottom: 5%;
      left: 5%; } }

a.facebook, a.pinterest, a.insta {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("../img/footer/sprites.png"); }

a.facebook:hover {
  background-position: 0% 100%; }

a.pinterest {
  background-position: 50% 0%; }
  a.pinterest:hover {
    background-position: 50% 100%; }

a.insta {
  background-position: 100% 0%; }
  a.insta:hover {
    background-position: 100% 100%; }
