
/*BODEGA*/
.bodega{
  div{margin-bottom:5%;
  }
  ul {
    margin-top: 5%;
    padding-left: 0%;

  li{
    //font-family: "Open Sans", sans-serif;
    //list-style-type: disc;
    text-decoration: none;
    //font-style: italic;
    text-align: left;
  }
}
p{
  margin-bottom: 2%;
  text-align: left;
}
h3 {
  text-align: left;
  margin-bottom: 5%;
}


  div.info{
    p{
      margin: 2% auto;
      width: 75%;
      font-family: "Playfair Display", serif;
      font-weight: 500;
      line-height: 2rem;
      text-align: center;
      display: block;
    }
    .cta{
      display: block;
      background-color: $c-azul;
      color: white;
      font-family: "Open Sans", serif;
      text-decoration:none;
      padding: 10px 20px;
      border-radius:3px;
      text-align: center;
      margin: 0 auto;


  }
  }

  .contenedor-bodega {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;/*IE 10*/
    flex-direction: column;
    @media only screen and (min-width : 1024px){
    flex-direction: row;
        }
}




    .img-txt {
      @media only screen and (min-width : 1024px){

      flex-direction: row;
    }
}
    .txt-img {
      @media only screen and (min-width : 1024px){
      flex-direction: row-reverse;
    }
  }

  .item-foto{
    //flex: 3 auto;
    flex-basis: 60%;
  }
  img {
    width: 100%;
  height: auto;
  margin-bottom: 0px;
}

  .item-info {
    //flex: 1 auto;
    flex-basis: 40%;
    background-color: beige;
    text-align: center;
    padding: 5%;
    @media only screen and (min-width : 1024px){
    width: 40%;

   }
}}
