
/*CABECERAS BANNER*/
.banner{
  transition: all 1s ease;
  background-color: $c-azul;
  position: relative;
  z-index: 0;
  @include center;
  width: 100%;
  min-height: 20vh;
  @media only screen and (min-width: 780px){
  min-height: 30vh;
  }
  @media only screen and (min-width: 1024px){
  min-height:30vh;
  }
  picture{
    width: 70%;
    img,source{
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  h1{
    transition: all 2s ease;
  }
  h1::after, h1::before{
    content:"";
    background-color: $c-beige;
    position: absolute;
    display: block;
  }
  h1::before{
    left: 50%;
    top: 150%;
    margin-left:-4px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }
  h1::after{
    width: 2px;
    height: 60px;
    left: 50%;
    top: 150%;
    @media only screen and (min-width: 780px){
      height: 80px;
    }
  }
}
