/*PAGINA VINOS CATALOGO*/
.vinos{
  h3{
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0;
    margin-bottom: 1 rem;
    font-weight: 400;
    height: 50px;
    text-align: center;
  }
  ul.productos{
    margin-top: 80px;
    padding: 50px 5%;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox; /*IE 10*/
    justify-content: space-around;
    @media only screen and (min-width : 780px){
    justify-content: space-between;
    }
      li{
      border: 2px solid $c-beige;
      position: relative;
      margin: 20px 1% 100px;
      padding: 20px 2% 40px;
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      min-width: 200px;
      max-width: 200px;
      height: 240px;
      text-align: center;
      transition: display 1s ease;
      @media only screen and (min-width : 780px) and (max-width: 1024px){
        min-width: 180px;
        margin-left: 1%;
        margin-right: 1%;
      }
      @media only screen and (min-width : 1024px){
        max-width: 200px;
        margin-left: 1%;
        margin-right: 1%;

      }
      img{
        margin-top: -100px;
        height: 110%;
      }
    }
  }
}
.precio{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size:1.25rem;
  display: block;
}
.mas{
  font-family: 'Playfair Display', serif;
  display: block;
  margin: 0 auto;
  width: 80px;
  padding: 2% 5%;
  font-style: italic;
  background-color: $c-beige;
  color: white;
  margin-top:25px;
}
.hidden{
  display: none;
}
.filterActive{
  font-weight: bold;
  background-color: $c-beige;
  color: white;
}
.filtros{
  text-transform: uppercase;
  margin-top:50px;
  display: flex;
  justify-content: space-around;
  color: $c-beige;

  li{
    width: 30%;
    display: inline-block;
    a{
      text-align: center;
      border: 1px solid $c-beige;
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 2% 5%;
    }
  }

}
.premio{
  display: block;
  position: absolute;
  right: 10%;
   width: 30px;
   height: 42px;
   background-image: url("../src/img/ficha/premio.png");
}
