
/*CONTACTO*/
.contacto{
  position: relative;
}
 .firstRow, .secondRow{
   display: block;
   margin: 2% auto;
   @media only screen and (min-width: 780px){
   width: 50%;
 }
   @media only screen and (min-width: 980px){
   width: 45%;
   margin:2%;
   float: left;
   box-sizing: border-box;
   display: inline-block;
 }
 }
 .firstRow h3{
   font-size: 1.4rem;
 }
 .secondRow{
   float: none;

   form {
     margin-top: 2rem;
     label {
       font-weight: 300;
     }
     input {
       margin-bottom: 1.5rem;
     }
   }
 }

    img{

        }
.box{
  margin: 2% 0;
  position: relative;
  p {
    margin-left: 40px;
    line-height: 2em;
  }
  iframe{
    margin: 5% 0;
  }
}

  .location::before,.telf::before, .email::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: -40px;

  }
  .location::before{
    background-image: url("../src/img/ficha/ubicacion-01.png");
  }
  .telf::before{
    transform: translateY(50%);
    background-image: url("../src/img/ficha/teléfono-03.png");
  }
  .email::before{
    background-image: url("../src/img/ficha/mensaje-02.png");
  }
input, textarea{
  width: 100%;
  display: block;
  margin:2% auto;
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  box-sizing: border-box;
  font-weight: 300;
  @media only screen and (min-width: 780px){
  width: 100%;
  }
}

  @media only screen and (min-width: 780px){
    h2,h3{
      line-height: 2.7rem;
    }

  span.check{
    input#checkbox{
      display: inline-block;
      margin-right:10px;
    }
    display: block;
    width: 95%;
    color: grey;
    font-size: 60%;
    @media only screen and (min-width: 780px){
      width: 90%;
      font-size: 100%;
    }
  }
}

.check input::after {
  content: 'Quiero suscribirme a la Newsletter de Marqués de Riscal';
  margin-left: 1.5rem;
  display: inline;
  font-size: 80%;
}

input.cta{
  position: relative;
  left: 75%;
  padding: 2% 5%;
  border: none;
  background-color: $c-beige;
  color: white;
  text-transform: none;
  font-weight: 400;
  width: auto;
  display: inline-block;
  @media only screen and (min-width: 780px){
    left:auto;
    float: right;
  }
}

input.cta:hover {
background-color: lighten($c-beige,10%);
}
