
.contenedor-popup{
  display: none;
  position: fixed;
  text-align: center;
  height: 400px;
  width: 400px;
  padding: 20px;
  z-index: 100000;
  @media only screen and (max-width: 1023px){
  left: 50%;
  transform: translateX(-35%);
  }
  @media only screen and (min-width: 1024px){
  top: 80px;
  right: -5%;
  }

}
.caja1{
  position: absolute;
  z-index: 100000;
  width: 63%;
  height: 29%;
  background-color: white;
  border: 5px solid #A98F54;
}

.caja-item{
  margin-top: 5%;
}
.caja-item img{
  width: 14%;
}
.caja-item p{
  font-size: 1rem;
  line-height: 26px;
  margin-top: 2%;
}
