
/*PAGINA FICHA*/

.migas-pan {
  margin-top: 1rem;
}

#mija-vino {
  color: $c-beige;
}

.foto-rosado img {
  display:block;
  margin: 0 auto;
  margin-bottom: -10rem;
  position: relative;
  width: 186px;
  height: 513px;
  z-index: 50;
}

.foto-gerhy img {
  display:block;
  margin: 0 auto;
  margin-bottom: -10rem;
  position: relative;
  width: 186px;
  height: 474px;
  z-index: 50;
}

.foto-chirel img {
  display:block;
  margin: 0 auto;
  margin-bottom: -10rem;
  position: relative;
  width: 186px;
  height: 474px;
  z-index: 50;
}

.container-ficha {
  border: 3px solid $c-beige;
  margin-left: 1rem;
  margin-right: 1rem;
  position: static;

  h2 {
    line-height: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  h3 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .nombre-producto {
    margin-top: 12.5rem;
  }
  .precio-producto {
      img {
        margin-left: 1.5rem;
        width: 300px;
    }
  }
  .premios-producto {
    color: $c-beige;
    margin-left: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 2rem;

      img {
        float: left;
        margin-right: 1rem;
      }
  }

  .presentación-producto {
    margin-top: .5rem;
  }

  .atributos-gustativos {
    margin-top: 2rem;
      p {
        margin-top: .5rem;
      }
  }

  .maridaje-producto {
    margin-top: 2rem;
      p {
        margin-top: .5rem;
      }
    .iconos-maridaje {
      margin-top: 1.5rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      img {
        display: inline-block;
        margin-left: .5rem;
        margin-right: .5rem;
        width: 40px;
        height: 40px;
      }
    }
  }

  .variedad-uva {
    margin-top: 2rem;
    margin-bottom: 2rem;

      ul {
        font-size: 1rem;
        font-weight: lighter;
        line-height: 1.5rem;
        margin-left: 1.5rem;
        margin-top: .5rem;
      }
  }
}

.botones-cata {
  margin-top: 1rem;

  .ver-video {
    background-color: $c-beige;
    border: none;
    border-radius: 2px;
    color: white;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    height: 40px;
    margin: 0 auto;
    width: 210px;
  }

  .descargar-ficha {
    background-color: $c-beige;
    border: none;
    border-radius: 2px;
    color: white;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    height: 40px;
    margin: 0 auto;
    margin-top: 2rem;
    width: 210px;
  }


  .desplegable-ficha {
    text-align: center;
    display: none;
    margin: 0 auto;
    width: 210px;
    height: 230px;
    background-color: #EFF1EC;

  a:hover {
    text-decoration: underline;
  }

  li{
    text-align: left;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
    padding-top: 1rem;
    padding-bottom: .5rem;

    }
  }
}

.sugerencias {

.sugerencias-titulo {
  text-align: center;
  margin-top: 8rem;
}

ul.productos{
  margin-top: 3rem;
  padding: 50px 5%;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;

    li{
    border: 2px solid $c-beige;
    position: relative;
    margin: 20px 1% 100px;
    padding: 20px 2% 40px;
    flex: auto;
    min-width: 200px;
    margin-left: 4rem;
    margin-right: 4rem;
    max-width: 200px;
    height: 240px;
    text-align: center;
    transition: display 1s ease;
    @media only screen and (min-width : 780px) and (max-width: 1024px){
      min-width: 180px;
    }
    @media only screen and (min-width : 1024px){
      max-width: 200px;
    }
  }

    h3{
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding: 0;
      margin-bottom: 1 rem;
      font-weight: 400;
      height: 50px;
      text-align: center;
    }

    img{
      margin-top: -100px;
      height: 110%;
    }
  }
}

footer {
  margin-top: 7rem;
}

@media only screen and (min-width: 780px) {

  .foto-rosado img {
    display: inline;
    margin-bottom: -50rem;
    margin-left: -2rem;
    width: 248px;
    height: 684px;
  }

  .foto-chirel img {
    display: inline;
    margin-bottom: -52rem;
    margin-left: -2rem;
    width: 248px;
    height: 684px;
  }

  .foto-gerhy img {
    display: inline;
    margin-bottom: -50rem;
    margin-left: -2rem;
    width: 248px;
    height: 633px;
  }

  .container-ficha {
    display: block;
    margin-left: 6rem;
    margin-top: 5rem;
    margin-right: 2rem;

      h2 {
        margin-left: 10rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
      }

      h3 {
        margin-left: 10rem;
        margin-right: 1.5rem;
      }

      p {
        margin-left: 10rem;
        margin-right: 1.5rem;
      }

      .nombre-producto {
        margin-top: 3rem;
      }

      .precio-producto {
        img {
          margin-left: 10rem;
          width: 400px;
        }
      }

      .premios-producto {

        img {
        margin-left: 9rem;
        }
      }

      .maridaje-producto {
        .iconos-maridaje {
          margin-left: 10rem;
        }
      }

      .variedad-uva {
        ul {
        margin-left: 10rem;
        margin-bottom: 4rem;
        }
      }

    }

    .botones-cata {
      display: flex;

        .ver-video {
          margin-left: 9rem;
        }

        .descargar-ficha {
          margin-top: 0;
          margin-right: 5rem;
        }

        .desplegable-ficha {
          margin:0;
          margin-right: 2rem;
        }
    }
}

@media only screen and (min-width: 1024px) {


  .foto-rosado img {
    display: inline;
    margin-bottom: -61rem;
    margin-left: 5rem;
    width: 322px;
    height: 889px;
  }

  .foto-gerhy img {
    display: inline;
    margin-bottom: -58rem;
    margin-left: 5rem;
    width: 322px;
    height: 821px;
  }

  .foto-chirel img {
    display: inline;
    margin-bottom: -62rem;
    margin-left: 5rem;
    width: 322px;
    height: 889px;
  }

  .container-ficha {
    display: block;
    margin-left: 15rem;
    margin-top: 4rem;
    margin-right: 8rem;

    h2 {
      margin-left: 12rem;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
    }

    h3 {
      margin-left: 12rem;
      margin-right: 1.5rem;
    }

    p {
      margin-left: 12rem;
      margin-right: 1.5rem;
    }

    .precio-producto {
      img {
        margin-left: 12rem;
        width: 400px;
      }
    }

    .premios-producto {

      img {
      margin-left: 10.5rem;
      }
    }

    .maridaje-producto {
      .iconos-maridaje {
        margin-left: 12rem;
      }
    }

    .variedad-uva {
      ul {
      font-size: 1.2rem;
      margin-left: 12rem;
      margin-bottom: 4rem;
      }
    }
  }

  .botones-cata {
    display: flex;

      .ver-video {
        margin-left: 19.5rem;
      }

      .descargar-ficha {
        margin-top: 0;
        margin-right: 12rem;
      }

      .desplegable-ficha {
        margin:0;
        margin-right: 8rem;
      }
  }

}
