
/*PAGINA FICHA*/
.botella{
   p{
    font-weight: bold;
     color: $c-lila;
     font-family: 'Playfair Display', serif;
     font-size: 1.6em;
      display: block;
      position: absolute;
      z-index: 100;
      left: 22%;
    top: 200%;
   }

     img{
     display: inline-block;
     box-sizing: border-box;
     position: relative;
     background-color: lighten($c-beige, 15%);
     background-color: $c-beige;
     width: 50%;
  }
}
.ficha{
     h2{
      height: 76px;
      background-image: url(../img/productos/premio.png);
      color: $c-lila;
      font-weight: bold;
      font-size: 1.7rem;
      line-height: 3rem;
      font-family: "Playfair Display", serif;
      text-align: center;
      margin-right: 2%;
    }
    .reconocimientos {
      position: relative;
      display: inline-block;
      width: auto;
      margin-left: 20%;
      padding: 2% 0%;

      h4{
          color: $c-lila;
      }

    }
}
