
/*PAGINA FICHA*/
@media only screen and (max-width: 768px){
  .container-ficha {
      margin-left: 1rem;
      margin-right: 0rem;
      position: static;
      width: 90%;
    }
.container-ficha img{
  margin-left: 3.5rem;
    width: 183px;
    height: 403px;
    margin-top: -10%;
}

.iconos-maridaje img{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 39px;
  height: 39px;
  display: inline-block;
  margin-left: .5rem;
  margin-right: .5rem;
}
.migas-pan {
  margin-bottom: 3rem;
}
.variedad-uva {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0%;

    ul {
      font-size: 1rem;
      font-weight: lighter;
      line-height: 1.5rem;
      margin-left: 1.5rem;
      margin-top: .5rem;
    }
}

.maridaje-producto{
  margin-top: 2rem;
}
.precio-producto{
  width: 34%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  }

.container-ficha2{
    margin-left: 2rem;
    position: static;
    width: 82%;
}
.atributos-gustativos{
  margin-top: 4rem;
  margin-bottom: 2rem;

  .titulo{
    margin-bottom: 1rem;
  }
}

.premios-producto2{
  background-color: #D8D8D8;
  width: 100%;
  height: 20rem;
ul{
  margin-left: 4%;
  margin-top: 2rem;
}
img{
  width: 39px;
  height: 39px;
  float: left;
  margin-right: 1rem;
  margin-top: 6%;
  margin-left: 5%;
}

}
.titulo2{
  margin-bottom: 1.5rem;
  padding-top: 6%;
}
.premios-producto2 li{
  margin-bottom: 0.8rem;
}
.usuarios{
  margin-top: 1.2rem;
  .parrafo{
    text-align: center;
  }
  .titulo3{
    margin-bottom: 1rem;
  }

    .mas3{
      background-color: #A98F54;
      border: none;
      color: white;
      width: 150px;
      text-align: center;
      padding: 12px 15px;
      margin-left: 55px;
    }
    .precio2{
      font-family: 'Playfair Display', serif;
      font-weight: 700;
      font-size: 1.25rem;
      margin-top: 1rem;
      display: block;
      margin-bottom: 1.5rem;
    }
}
.addToCart{
  display: inline-block;
  margin-left: 33%;
}
.descargar{
  margin-top: 1.5rem;
}
.variedad-uva ul{
  margin-left: 0rem;
}

}

@media screen and (min-width: 1024px){
  .migas-pan{
    margin-top: -2rem;
    margin-bottom: 3rem;
  }
}

#mija-vino {
  color: $c-beige;
}

.foto-rosado img {
  display:block;
  margin: 0 auto;
  margin-bottom: 0rem;
  position: relative;
  width: 186px;
  height: 474px;
  z-index: 50;
}

.foto-gerhy img {
  display:block;
  margin: 0 auto;
  margin-bottom: 0rem;
  position: relative;
  width: 186px;
  height: 474px;
  z-index: 50;
}

.foto-chirel img {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 186px;
  height: 440px;
  z-index: 50;
}
@media only screen and (max-width: 768px){

.botones-cata {
  margin-top: 2rem;

  .ver-video {
    background-color: $c-beige;
    border: none;
    border-radius: 2px;
    color: white;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    height: 40px;
    margin: 0 auto;
    width: 210px;
    font-weight: 600;
  }

  .ver-video:hover {
    background-color: lighten($c-beige,10%);
  }

  .descargar-ficha {
    background-color: $c-beige;
    border: none;
    border-radius: 2px;
    color: white;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    height: 40px;
    margin: 0 auto;
    width: 210px;
    font-weight: 600;
  }

  .descargar-ficha:hover {
    background-color: lighten($c-beige,10%);
  }


  .desplegable-ficha {
    text-align: center;
    display: none;
    margin: 0 auto;
    width: 210px;
    height: 230px;
    background-color: #EFF1EC;

  a:hover {
    text-decoration: underline;
  }

  li{
    text-align: left;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
    padding-top: 1rem;
    padding-bottom: .5rem;

    }
  }
}

.sugerencias-sugerencias {

.sugerencias-titulo {
  text-align: center;
  margin-top: 4rem;
}

ul.productos-sugerencias{
  margin-top: 1rem;
  padding: 50px 5%;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;

    li{
    //border: 2px solid $c-beige;
    position: relative;
    margin: 42px 1% 100px;
    padding: 20px 2% 40px;
    flex: auto;
    max-width: 200px;
    height: 240px;
    text-align: center;
    transition: display 1s ease;
    @media only screen and (min-width : 768px) and (max-width: 1024px){
      min-width: 175px;
    }
    @media only screen and (min-width : 1024px){
      max-width: 200px;
    }
  }

    .nombrevinoficha{
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding: 0;
      margin-bottom: 1 rem;
      font-weight: 400;
      height: 50px;
      text-align: center;
    }

    img{
      margin-top: -100px;
      height: 110%;
      border-bottom: 2px solid #A98F54;
      margin-bottom: 1rem;
    }
  }
}
}
@media only screen and (min-width : 768px) and (max-width: 1024px){
  .migas-pan {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
  .addToCart{
    display: flex;
    margin-left: 61%;
    margin-top: -13%;
}
  .container-ficha{
    display: block;
    width: 77%;
    margin-left: 18%;
    margin-top: 7%;
  }
  .tituloVino{
    margin-left: 30%;
  }
  .presentacion-producto{
    margin-left: 30%;
  }
  .maridaje-producto{
    margin-top: 1rem;
    margin-left: 30%;
  }
  .variedad-uva{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 30%;
  }

  .iconos-maridaje img{
    margin-right: 1rem;
  }
  .precio-producto{
    margin-left: 30%;
  }
  .container-ficha img{
    width: 39px;
    height: 33px;
  }
  .foto-chirel img{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: -9rem;
    width: 260px;
    height: 634px;
  }
  .foto-rosado img{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: -9rem;
    width: 260px;
    height: 634px;
    margin-top: -5%;
  }

.container-ficha2{
  margin-left: 4rem;
}
.atributos-gustativos{
  text-align: center;
  margin-top: 2rem;
}
.premios-producto2 img{
  margin-top: 3%;
  margin-left: 28%;
}
  .titulo2 {
    padding-top: 2%;
  }
  .premios-producto2 ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 11%;
    margin-top: 2rem;

  }
  .premios-producto2 li{
    margin-bottom: 1rem;
    margin-right: 3rem;
    width: 40%;
    margin-top: 0,5rem;
  }
  .premios-producto2{
    height: 15rem;
  }
  .usuarios{
  text-align: center;
  }
  .usuarios .titulo3{
    margin-bottom: 0rem;
  }
  .botones-cata{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 3%;
  }
  .botones-cata .descargar-ficha{
    margin-top: 0rem;
  }
  .descargar{
    margin-top: 0rem;
  }

  .sugerencias-sugerencias ul.productos-sugerencias{
    margin-top: 1rem;
    padding: 50px 3%;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
  }
  .foto-gerhy img{
    width: 283px;
      height: 644px;
  }
  .foto-gerhy{
    width: 50%;
    position: absolute;
    margin-left: -25%;
  }
  .variedad-uva ul{
        margin-left: 0%;
  }
  .parrafoContainer2{
    width: 64%;
    margin-left: 30%;
  }

}

  @media screen and (min-width: 1024px){
    .container-ficha{
      margin-left:1.5rem;
  }
}



@media only screen and (min-width: 1024px) {
  .migas-pan{
    margin-top: -2rem;
    margin-bottom: 3rem;
  }

  .foto-rosado img {
    position: absolute;
    display: flex;
    margin-top: -6px;
    flex-direction: row;
    margin-left: 16rem;
    width: 266px;
    height: 644px;
  }

  .foto-gerhy img {
    position: absolute;
    display: flex;
    margin-top: -6px;
    flex-direction: row;
    margin-left: 16rem;
    width: 266px;
    height: 644px;
  }

  .foto-chirel img {
    position: absolute;
    display: flex;
    margin-top: -6px;
    flex-direction: row;
    margin-left: 16rem;
    width: 266px;
    height: 644px;
  }

  .container-ficha {
    display: block;
    width: 100%;
    margin-left: 0%;
    margin-top: -2%;

    .tituloVino {
      margin-right: 1.5rem;
      margin-bottom: 1rem;
    }

    .seccionesContainer {
      margin-left: 12rem;
      margin-right: 1.5rem;
    }

    .parrafoContainer {
      margin-left: 12rem;
      margin-right: 1.5rem;
      width: 60%;
    }
    .parrafoContainer2 {
      margin-left: 47%;
      margin-right: 1.5rem;
      width: 34%;
    }
    .precio-producto {
      margin-left: 47%;
      position: relative;
      top: 21px;
      width: 7%;
      img {
        margin-left: 12rem;
        width: 400px;
      }
    }


    .maridaje-producto {
      .iconos-maridaje {
        margin-left: 12rem;
        margin-bottom: 0.5rem;
      }
    }

  }

    .container-ficha2{
      margin-right: 6%;
      margin-left: 6%;
      text-align: center;
      width: 90%;

      .premios-producto2{
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 5%;
        width: 89%;
        height: 180px;
        background-color: #D8D8D8;


        img{
          margin-left: 0%;
          position: absolute;
          margin-top: 1%;
        }
        .titulo2{
          display: inline-flex;
          margin-left: 6%;
          margin-top: 1%;
        }
        .premios-ficha{
          margin-top: 28px;
          display: flex;
          margin-left: 1rem;
        }
        .parrafoPremios{
          width: 217px;
        }

      }

      .usuarios{
        margin-left: 16%;
        margin-right: 5%;
        width: 68%;
      }

      .premios-producto2 li{
        width: 30rem;
        margin-right: 5rem;
      }

      .atributos-gustativos{
        margin-left: 16%;
        margin-right: 5%;
        width: 68%;

        .titulo{
          margin-bottom: 1rem;
        }
      }
  }
  .botones-cata {
    display: flex;
    flex-direction: row;

      .ver-video {
        background-color: #A98F54;
        border: none;
        border-radius: 2px;
        color: white;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 1rem;
        height: 40px;
        margin: 0 auto;
        width: 210px;
        margin-right: 9%;
        margin-top: 6%;
        margin-bottom: 10%;
        font-weight: 600;
      }


      .descargar-ficha {
        background-color: #A98F54;
        border: none;
        border-radius: 2px;
        color: white;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 1rem;
        height: 40px;
        margin: 0 auto;
        width: 210px;
        font-weight: 600;
      }
      .descargar{
        margin-right: 32%;
        margin-top: 6%;
      }

      .desplegable-ficha {
        text-align: center;
        display: none;
        margin: 0 auto;
        width: 210px;
        height: 230px;
        background-color: #EFF1EC;
      }
  }
  .addToCart{
    margin-left: 68%;
    margin-top: -14px;
    width: 17%;
  }
  .nombre-producto {
    width: 47%;
    margin-left: 47%;
    text-align: left;
  }



  .presentacion-producto {
    margin-top: .5rem;
    width: 61%;
    margin-left: 33%;
  }

  .atributos-gustativos {
    margin-top: 2rem;
      .parrafoAtributos {
        margin-top: .5rem;
      }
  }

  .maridaje-producto {
    margin-top: 2rem;
    margin-left: 33%;
    width: 61%;
      .parrafoMaridaje {
        margin-top: .5rem;
      }
    .iconos-maridaje {
      margin-top: 1.5rem;
      margin-left: 1rem;
      img {
        display: inline-block;
        margin-left: .5rem;
        margin-right: .5rem;
        width: 45px;
        height: 45px;
      }
    }
  }
  .variedad-uva{
    margin-top: 2rem;
    margin-left: 33%;
  }
  .sugerencias-sugerencias ul.productos-sugerencias{
    margin-left: 6%;
    margin-top: 1rem;
    padding: 50px 3%;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
  }
  ul.productos-sugerencias li{
  min-width: 175px;
      text-align: center;
}
  ul.productos-sugerencias img{
    margin-top: -100px;
    height: 76%;
    width: 209px;
    border-bottom: 2px solid #A98F54;
    margin-bottom: 1rem;
  }
  .nombrevinoficha{
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0;
    margin-bottom: 1 rem;
    font-weight: 400;
    margin-left: 13%;
    width: 72%;
    height: 50px;
    text-align: center;
  }
   .sugerencias-titulo{
     text-align: center;
    margin-bottom: 7rem;
   }
   .variedad-uva ul{
     width: 61%;
    margin-left: 21%;
    margin-top: 1rem;
    margin-bottom: 2rem;
   }
}
@media only screen and (max-width: 768px){
.compra{
  font-weight: bold;
  position: relative;
  left: 30%;
  width: 70%;
  margin-bottom: 5%;
}
}
  @media screen and (min-width: 1400px){
  width: 600px;
  left: 35%;
  }
  p{

    span{
      font-family: "Playfair Display, serif";
        font-size: 1.7rem;
        line-height: 2.4rem;
      @media screen and (min-width: 768px)and (max-width: 1024px){
      font-size: 2rem;
    }
    @media screen and (min-width: 1084px){
    font-size: 2.3rem;
    }
    }
  }






    .mas2{
      background-color: #A5112C;
    border: none;
    color: white;
    width: 150px;
    text-align: center;
    padding: 11px 10px;
    margin-left: 55px;
      @media screen and (min-width: 1024px){
      width: auto;
      font-size: 1.1em;
    }
  }

  .mas2:hover {
    background-color: lighten(#A5112C,10%);
  }


    @media screen and (min-width: 1024px){
    .info-producto{
    display: block;
    width: 40vw;
    }
  }
