
/*FOOTER*/
footer{
  position: relative;
  text-align: center;
  background-color: $c-azul;
  height: 65vh;
  @media only screen and (min-width: 1024px){
  height: 20vh;
  }
  width: 90%;
  color: white;
  padding: 5%;
  p{
  font-size: 1rem;
  line-height: 2rem;
}
  img{
    position: absolute;
    bottom:5%;
    right: 5%;
    width: 90%;
    @media only screen and (min-width: 780px){
      bottom:10%;
    }
}
.row1, .row2{
  width: 90%;
  padding: 5%;
}
@media only screen and (min-width: 1024px){
.row1{
  display: inline-block;
  padding: 2% 0%;
  text-align: left;
  width: 20%;
  display: block;
  position: absolute;
  left: 5%;
  top: 0;
}
.row2{
  display: inline-block;
  padding: 2% 0%;
  text-align: right;
  width: 30%;
  display: block;
  position: absolute;
  left: 30%;
  top: 15%;
  .cont{
    text-align: right;
  }
}
}
.row2{
  p{
    font-weight: bold;
  }
  .telf{
    font-size: 2rem;   
    font-weight: bold;
    font-family: "Playfair Display", sans-serif;
    @media only screen and (min-width:780px){
    font-size: 3rem;
  }
  }
  .cont{

  }
}
.mail, .conpyright{
  font-size: 1rem;
}
@media only screen and (min-width: 780px){
  .mail{
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
  .copyright{
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
}

}

a.facebook, a.pinterest, a.insta{
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("../src/img/iconos/sprites.png");
}
a.facebook{
  &:hover{
    background-position: 0% 100%;
  }
}
a.pinterest{
    background-position: 50% 0%;
  &:hover{
    background-position: 50% 100%;
  }
}
a.insta{
    background-position: 100% 0%;
  &:hover{
    background-position: 100% 100%;
  }
}
