
/*FOOTER*/
footer{
  position: relative;
  text-align: center;
  background-color: $c-azul;
  height: 46vh;
  @media only screen and (min-width: 1024px){
  height: 15vh;
  }
  width: 90%;
  color: white;
  padding: 5%;

  img{
    position: absolute;
    bottom: 18%;
    right: 5%;
    width: 78%;}
   @media only screen and (min-width: 780px){
      bottom:14%;
    }
}
.row2{
  margin-top: 8%;
  margin-bottom: 8%;
}
@media only screen and (min-width: 1024px){
.row2{
  margin-bottom: 0%;
  margin-top: 0%;
  width: 30%;
  position: absolute;
  margin-left: 0%;
  text-align: start;
}
.row2 p{
  font-size: 1rem;
  line-height: 2.7rem;
}
}
@media only screen and (min-width: 780px){
.row1{
  padding: 2%;
  margin-left: 5%;
}
}
@media only screen and (min-width: 1024px){
.row1{
  margin-left: 0%;
  position: relative;
  width: 12%;
  padding-left: 0%
}}
.pagos img{
  bottom: 7%;
  margin-right: 7%;
  width: 75%;
}
@media only screen and (min-width: 780px){
.pagos img{
  margin-right: 25%;
  width: 40%;
}
}
@media only screen and (min-width: 1024px){
.pagos img{
  bottom: 0%;
    top: 80%;
    width: 22%;
    margin-right: 0%;
}
}
@media only screen and (min-width: 1024px){
.row3{
  display: inline-flex;
  width: 53%;
  position: relative;
  margin-top: 3.3%;
  margin-left: 6%;
}
.row3 p{
  margin-right: 6%;
  font-size: 1rem;
}
}
a.facebook, a.pinterest, a.insta{
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-top: 0%;
  margin-right: 5%;
  background-image: url("../src/img/iconos/sprites.png");
}
a.facebook{
  &:hover{
    background-position: 0% 100%;
  }
}
a.pinterest{
    background-position: 50% 0%;
  &:hover{
    background-position: 50% 100%;
  }
}
a.insta{
    background-position: 100% 0%;
  &:hover{
    background-position: 100% 100%;
  }
}
