
.historia{
  h2{
    padding: 5% 2%;
    text-align: center;
  }
    .slidesjs-pagination{
      position: absolute;
      top:-100px;
      @media only screen and (max-width: 1024px){
        display: none;
      }
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(196, 192, 185);
    li{
      padding-top: 10px;
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 120%;
      opacity: 0.8;
    }
    .selected{
      position: relative;
    }
  }
  .cronologia{
    position: relative;
    height: 60vh;
    margin: 10% auto 5%;
    width: 90%;
    box-sizing: border-box;
    overflow: visible;
    @media only screen and (min-width: 720px){
    height: 420px;
    }
div{
      display: inline-block;
      float: left;
      width: 100%;
      height: 60vh;
      .info{
        display: block;
        color: white;
        text-align: center;
        background-color: $c-beige;
        padding: 5% 2%;
        box-sizing: border-box;
        @media only screen and (min-width: 760px){
          display: inline-block;
          position: absolute;
          right: 0;
          width: 40%;
          height: 100%;
        }
        p{
          padding: 5%;
          font-size: 100%;
        }
          .year{
            padding-top:5%;
            font-family: "Playfair Display", serif;
            font-size: 300%;
            display: block;
            font-weight: bold;
          }
          .year:after{
            content: "";
            background-color: white;
            height: 1px;
            display: block;
            width: 70%;
            top: 25px;
            margin: 5% auto;
          }
      }
      img{
        display: block;
        width: 100%;
        @media only screen and (min-width: 760px){
        width: 60%;
        height: 100%;
        position: relative;
      }
    }
  }
  }
}
a.active{
display: block;
}
.slidesjs-navigation{
  display: inline-block;
  position: absolute;
  top:50%;
  box-sizing: border-box;
  width: 32px;
  height:32px;
  z-index: 1000;
  background-image: url("../src/img/iconos/arrow.png");
}
.slidesjs-previous{
  left: -30px;
  transform: rotate(180deg) translate(0%, -50%);
  @media only screen and (min-width: 780px){
    margin-left: -15px;
  }
}
.slidesjs-next{
  transform: translate(0, 50%);
}
a.active::before{
  margin-top:-10px;
  margin-bottom: 5px;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  background-image: url("../src/img/historia/icon.png");
}
