// EDAD

$font-stack: 'HK Grotesk';
$transition: 500ms;
$window-width: 400px;
$window-height: 250px;
$button-color: #ED5065;

#age-verify {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.6);
  transition: $transition;
  .window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $window-width;
    height: $window-height;
    overflow: hidden;
    padding: 40px;
    margin-left: -($window-width/2);
    margin-top: -($window-height/2);
    background-color: #fff;
    border:6px solid $button-color;
    box-sizing: border-box;
    box-shadow: 0 20px 60px rgba(#000,0.2);
    transition: $transition;
    span {
      display: block;
      text-align: center;
      margin-bottom: 10px;
      font-family: $font-stack;
      &.title {
        color: $button-color;
        font-size: 24px;
      }
    }
    button {
      border: 0;
      margin: 0;
      padding: 0;
      width:48%;
      height:60px;
      color:#FFF;
      font-size: 18px;
      background-color: $button-color;
      margin-top:20px;
      font-family: $font-stack;
      transform:scale(1);
      transition: .2s;
      &.back {
        display:block;
        float:none;
        margin:auto;
        background-color: #fff;
        color:$button-color !important;
        margin-top:20px;
      }
      &.yes {
        float:left;
      }
      &.no {
        float:right;
      }
      &:hover {
        transform:scale(1.1);
        box-shadow: 0 20px 60px rgba(#000,0.2);
        background-color: lighten($button-color,10%);
      }
    }
    .underBox {
      position:absolute;
      width: $window-width;
      height: $window-height;
      padding: 40px;
      top:100%;
      left:0;
      right:0;
      background-color: $button-color;
      transition: $transition;
      box-sizing:border-box;
      * {
        color:#FFF !important;
      }
    }
  }
  &.hidden {
    opacity:0;
    visibility: hidden;
    .window {
      transform:scale(0.5);
    }
  }
  &.under {
    .window .underBox {
      top:0%;
    }
  }
}



/*PAGINA INDEX*/
.cabecera{
  margin-top: 70px;
  width: 100%;
  @media only screen and (min-width: 1024px){
    margin-top: 0;
  }
  img {
    width: 100%;
    position: relative;
    display: block;}
}
.sub-home {
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: white;
  margin-top: -18vh;
  left: 6%;
  position: absolute;
  font-size: 1.2rem;
  text-shadow: 2px 1px 2px black;
  @media only screen and (min-width: 1024px) and (max-width: 1290px){
    margin-top: -13%;
  }
  @media only screen and (min-width: 1290px){
    margin-top: -14%;
  }

}
h1.titulo{
  color: white;
  position: absolute;
  display: block;
  margin-top:-30vh;
  width: 300px;
  left: 6%;
  font-size: 2rem;
  line-height: 1.2em;
  text-shadow: 2px 1px 4px black;

  @media only screen and (min-width: 1024px){
    margin-top: -22%;
    font-size: 3rem;
    width: 450px;
  }
}
.ctaprincipal{
    display:block;
    background-color: $c-lila;
    color: white;
    width: 300px;
    text-align: center;
    padding: 20px 5px;
    left: 6%;
    margin-top: -12vh;
    position: absolute;
    font-family: "Open Sans", sans-serif;
  @media only screen and (min-width: 1024px) and (max-width: 1290px){
    margin-top: -9%;
    font-size: 1rem;
    width: 100px;
    padding: 10px 5px;
  }
  @media only screen and (min-width: 1290px){
    margin-top: -11%;
    padding: 10px 5px;
    width: 100px;
  }
}
.ctaprincipal:hover{
    background-color: lighten( $c-lila, 10%);
}
