
.cajaTexto{
  width: 86%;
  padding: 7%;
}
.cajaTexto h1{
  color: black;
  text-align: center;
  position: relative;
  margin-bottom: 4%;
}
.terminos, .condiciones{
  width: 76%;
  margin-left: 12%;
  margin-right: 0%;
}
.linea{
  width: 70%;
  color: #a98f54;
  size: 6px;
  margin: auto;
  border-top: 2px solid;
  font-size: 0;
  margin-bottom: 4%;
}
