@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display:400,700');
@import "general.scss";
@import "menu.scss";
@import "cabecera.scss";
@import "footer.scss";
@import "home.scss";
@import "catalogo.scss";
@import "ficha.scss";
@import "bodega.scss";
@import "contacto.scss";
@import "cesta.scss";
@import "registro.scss";
@import "usuario.scss";
@import "pago.scss";
@import "confirmacion.scss";
@import "confirmacionProducto.scss";
@import "confirmacionVisitas.scss";
@import "historianew.scss";
@import "terminosYcondiciones.scss";
@import "cookies.scss";
@import "confirmacionVisitas.scss";


.frame{
  overflow: hidden;
  height: 70%;
  @media only screen and (min-width: 780px){
    height: 20vh;
  }
}
